stages:
  - build

build_laravel:
  stage: build
  script:
    - rsync -av -e "ssh -p 62953" --progress --delete ./ mirror@node-tor1-05.tr.be:/var/www/adshield-api/
    - ssh -p 62953 mirror@node-tor1-05.tr.be composer install --working-dir=/var/www/adshield-api/
  only:
    - tags
  tags:
    - ember-cli

