stages:
  - build

build_laravel:
  stage: build
  script:
    - chmod -R 777 storage
    - chmod -R 777 bootstrap/cache
    - rsync -av -e "ssh -p 62953" ./ mirror@node-tor1-05.tr.be:/var/www/adshield-api/
    - ssh -p 62953 mirror@node-tor1-05.tr.be composer install --working-dir=/var/www/adshield-api/
#  only:
#    - tags

